
.space_between_selects {
    height: 3%;
}

.selecting_components_div {
    border-top:10px double #006f80;
    border-right:10px double #006f80;
    border-bottom:10px double #006f80;
    border-left:10px double #006f80;

    -webkit-box-shadow:0px 0px 50px 30px #ad0000 ;
    -moz-box-shadow:0px 0px 50px 30px #ad0000 ;
    box-shadow:0px 0px 50px 30px #ad0000 ;

    background-color:lavender;
}

table {
    width: 100%;
}
