<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile id="greeting">Üdvözlünk a számítógép komponens összerakó és összehasonlító oldalon!</mat-grid-tile>
    <mat-grid-tile>Itt lehetőséged van a számítógép konfigurációk széles választékából választani és összeállítani a saját egyedi gépedet.
        Az oldalunkon található intuitív felhasználói felülettel egyszerűen navigálhatsz a különböző komponensek között,
        és az általad összeállított gépek árait és teljesítményét is összehasonlíthatod.</mat-grid-tile>
    <mat-grid-tile>Az oldalunkon található több száz különböző számítógép alkatrész közül választhatsz, beleértve a processzorokat,
        a videokártyákat, a memóriákat, az alaplapokat, a merevlemezeket, az SSD-ket és még sok mást.
        Minden alkatrészhez számos információ és specifikáció áll rendelkezésedre, hogy segítsen a döntésben.</mat-grid-tile>
    <mat-grid-tile>Az oldalunkon található összerakó és összehasonlító funkció segítségével könnyedén összeállíthatod a saját egyedi konfigurációdat,
        majd összehasonlíthatod az árakat és a teljesítményt az általad választott más konfigurációkkal. Ha pedig elakadsz az összeállításnál,
        a segítségünkre is számíthatsz - kérdezz bátran a támogatási csapatunktól!
        Várunk szeretettel az oldalunkon, és reméljük, hogy a számítógép összerakás és összehasonlítás folyamata egyszerű és zökkenőmentes
        lesz az oldalunkon keresztül!</mat-grid-tile>
</mat-grid-list>



<button mat-button>Basic</button>
